body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(214, 211, 211);;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  color:blueviolet;
  font-weight: bold;
  text-shadow: 2px 3px 7px coral;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.img2{
  padding: 5px 5px;
}
.sir{
  
  height: 550px;
  text-align: center;

  
}
.sir h1{
  text-align: center;
  width: 60%;
  padding: 20px;
  margin-top: 200px;
  background-color: rgb(237, 241, 234);
  margin-left: 20%;
  border-radius: 20px;
  
}

/* -------------Slot Machine -------- */
.slotH{
  text-align: center;
}
.slot{
  text-align: center;
  color: brown;
  
}
.main{
  border: rgb(15, 31, 29) 2px solid;
  margin:20px 100px;
}
.add-btn{
  font-size: 5px !important;
  color: brown;
  border-radius: 50% !important;
}
.del:hover{
color: red !important;
}
/* --------------Todo List Lec 40 -------------- */
.card-body{
  min-height: 400px;
  box-shadow: rgb(34, 158, 65) 0px 0px 5px 2px;
  
}
.app-main{
  margin-bottom: 30px;
}

.title{
  color: white;
  background: transparent;
  background-color: #1c1b1d;
  margin-bottom: 10px;
  padding: 08px 0px;
  border-bottom: 2px solid white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.card-input{
  text-align: center;
  height: 30px;
  top: 20px;
  padding: 10px 0px !important;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2x solid #8566aa;
  outline: none;
}
.add-btn{
  min-height: 40px;
  width: 60px !important;
  border-color: transparent;
  border-radius: 50%;
  padding: 0px 7px;
  color: #fff;
  background-color: #8566aa;
  font-size: 23px !important;
  border: none;
  text-align: center !important;
  vertical-align: middle;
  outline: none;
  font-weight: bold;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-decoration: none;

}
.add-btn:hover{
  background: #f5f1fa;
  color: #0b6827;
  /* border:1px solid #0b6827 !important; */
  box-sizing: border-box !important;
}
.list{
  color: white;
  background: transparent;
  background-color: #8566aa;
  margin-bottom: 10px;
  padding: 01px 0px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}
.list:hover{
  background: #f5f1fa;
  color: #0b6827;
  /* border:1px solid #0b6827 !important; */
  box-sizing: border-box !important;
}

/* --------------- Google Keep ------------------ */
